@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('../public/fonts/Roboto.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: rgba(10, 20, 58, 1);
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 12px;
  margin: 0 auto;
}

.btn {
  font-family: 'Roboto', sans-serif;
  color: rgba(10, 20, 58, 1);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-outline {
  color: rgba(10, 20, 58, 1);
  background-color: transparent;
}

.btn-primary {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(37, 110, 235, 1);
}

.content {
  padding-bottom: 50px;
}

.content-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.content-main {
  flex-grow: 1;
}

.content-main__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 25px;
}

.content-main__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.content-product {
  display: flex;
  flex-grow: 1;
  gap: 30px;
}

.content-product__left {
  flex-basis: 50%;
}

.content-product__right {
  flex-basis: 50%;
}

.content-product__title,
.content-product__price {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 25px;
}

.content-product__img {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.content-product__text {
  font-size: 14px;
  line-height: 20px;
}

.btn-large {
  padding: 19px 72px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 930px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 730px;
  }

  .content-box {
    flex-direction: column;
  }

  .content-main {
    width: 100%;
  }

  .content-product {
    width: 100%;
    flex-direction: column;
  }

  .content-product__left {
    width: 100%;
    flex-basis: 100%;
  }

  .content-product__right {
    width: 100%;
    flex-basis: 100%;
  }
}

@media (max-width: 786px) {
  .container {
    max-width: 100%;
  }
}
